<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>


  <div class="field">
    <%= f.label :icon %><br />
    <%= f.file_field :icon, autofocus: true, autocomplete: "icon" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password, "パスワード" %> <i>(パスワードを変更しない場合は記入しなくてもよい)</i><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :current_password, "現在のパスワード" %> <i>(情報を更新するには現在のパスワードを入力してください)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>

  <div class="actions">
    <%= f.submit "更新する", class: "btn btn-primary" %>
  </div>
<% end %>

<h3>アカウントを削除しますか?</h3>

<%= button_to "退会する", registration_path(resource_name), data: { confirm: "本当に削除しますか?" }, method: :delete, class: "my-2 btn btn-danger" %>

<%= link_to "Back", user_path(@user) %>
