<h1>Weapons</h1>

<table class = "table text-center">
  <thead class = "thead-dark">
    <tr>
      <th>No</th>
      <th>Name</th>
      <th>Img</th>
      <th>Types</th>
      <th>Category</th>
      <th>Menu</th>
    </tr>
  </thead>

  <tbody>
    <% @weapons.each do |weapon| %>
      <tr>
        <td><%= weapon.no %></td>
        <td><%= link_to weapon.name, weapon %></td>
        <td><%= weapon.img %></td>
        <td><%= link_to weapon.weapon_type, "/weapons_type/#{weapon.weapon_type}" %></td>
        <td><%= link_to weapon.category, "/categories/#{weapon.category}" %></td>
        <% if user_signed_in? %>
          <td>
            <%= link_to 'Edit', edit_weapon_path(weapon), class: "btn btn-outline-primary" %> 
            <%= link_to 'Destroy', weapon, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-danger"  %>
            <%= link_to 'Show', weapon_path(weapon), class: "btn btn-outline-primary" %>
          </td>
        <% else %>
          <td>
            <%= link_to 'Show', weapon_path(weapon), class: "btn btn-outline-primary" %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'New Weapon', new_weapon_path %>
