<div class="card mb-3">
  <div class="row no-gutters">
    <div class="col-0.5">
      <% if post.user.icon.present? %>
        <%= image_tag post.user.icon.url, class: "nav-icon nav-link" %>
      <% else %>
        <%= image_tag 'no_user_image.png', class: "nav-icon nav-link" %>
      <% end %>
    </div>
    <div class="col-11.5">
      <div class="card-body my-app-post-body">
        
        <h4 class="card-title font-weight-bold"><%= post.user.user_name %></h3>
        <h4 class="card-title font-weight-bold"><%= post.title %></h3>
        <p class="card-text"><%= post.content %></p>
        
        <% if user_signed_in? %>
          <% if post.favorited_by?(current_user) %> 
              <p><span><%= image_tag 'good.png', class: 'nice-btn' %></span><%=link_to post.favorites.count, post_favorites_path(post.id), method: :delete %></p>
          <% else %>
              <p><span><%= image_tag 'no_good.png', class: 'nice-btn' %></span><%=link_to post.favorites.count, post_favorites_path(post.id), method: :post %></p>
          <% end %>
        <% else %>
          <p><span>お気に入り数: </span><%= post.favorites.count %></p>
        <% end %>
        
        <% if request.path == "/posts" %>
          <%= link_to 'Show', post, class: "btn btn-outline-primary" %>
        <% end %>
        <%= link_to 'Edit', edit_post_path(post), class: "btn btn-outline-primary" %>
        <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-danger" %>
      </div>
    </div>
  </div>
</div>