<h1>Events</h1>
<%= form_tag "/posts", method: "get" do  %>
  <%= text_field_tag :search %>
  <%= submit_tag "検索" %>
<% end %>

<%= render @posts %>

<div>
<%= link_to 'New Post', new_post_path %>
</div>
